.App {
  text-align: center;
  background-color: #FAF9F6;
}

.body {
  background-color: #61dafb;
}
#root {
  background-color: #f8efd4;
}
.nav-bar {
  display: flex;
  font-size: 30px;
  background-color:rgb(30, 138, 30);
  font-family: Arial, Helvetica, sans-serif;

}
.link-list {
  display: flex;
  list-style: none;
  text-decoration: none;
}
.link-list > li > a {
  text-decoration: none;
  color: white;
}

.link-list > li {
  padding-left: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

.article-header {
  padding-left: 50px;
  font-size: 30px;
}

.info-article {
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 50px;
  padding-right: 50px;
}

#new-project-button{
  margin-left: auto;
  margin-right: auto;
  margin: 50px;
}

#new-project-link {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.new-project-questions {
  padding-left: 50px;
}
.user-answer {
  width: 300px;
  height: 100px;
  cursor: auto;
}

.mushroom-container{
  display: grid;
  grid-template-columns: auto auto auto;
}

.container-item {
  padding-left: 50px;
}

#project-information-list-item {
  list-style: none;
}


.mushroom-item {
  padding: 50px;
}

.grid-for-information {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-for-information  li {
  padding: 50px;
  list-style: none;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
